@import "@/styles/base/mixins";

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1px);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.25s ease forwards;
  z-index: 9999;
}

.modal {
  background: var(--dark-300);
  border-radius: 2px;
  min-width: 320px;

  animation: scaleIn 0.25s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-100);
  padding: 12px 24px 11px 24px;

  h2 {
    @include text-size(xl, l);
    @include text-weight(700);
  }
}

.closeButton {
  all: unset;

  &:hover {
    background: none;
  }
}

.modalSidebarBody {
  display: flex;
  flex-direction: column;
  padding: 30px 24px 36px 24px;
  gap: 30px;
  max-width: 438px;
  width: 100%;

  p {
    @include text-size(m, m);
    @include text-weight(400);
    width: 390px;
  }
}

@media (max-width: 438px) {
  .modalSidebarBody p {
    width: auto;
  }
}

.modalSidebarBodyButtonBox {
  display: flex;
  justify-content: flex-end;
  gap: 28px;

  .yesBtn {
    &:hover {
      background-color: var(--accent-500);
      color: var(--primary-color);

      + .noBtn {
        background: transparent;
        border: 2px solid var(--accent-500);
        color: var(--accent-500);
      }
    }
  }
}
