.bellWrapper {
  cursor: pointer;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;

  svg {
    width: 28px;
    height: 28px;
  }

  &:hover {
    color: var(--accent-500);
  }

  &:active {
    color: var(--accent-500);
  }

  &:focus {
    color: var(--accent-500);
  }
}

.notification {
  position: absolute;
  top: -4px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  color: var(--light-100);
  background-color: var(--danger-500);
}
