.root {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.viewPort {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollBar {
  /* отключить обработку браузером всех жестов панорамирования и масштабирования на сенсорных устройствах */
  touch-action: none;
  cursor: pointer;

  /* обеспечивает отсутствие выбора */
  user-select: none;
  display: flex;
  background: transparent;

  &[data-orientation="vertical"] {
    width: 4px;
  }

  &[data-orientation="horizontal"] {
    flex-direction: column;
    height: 4px;
  }
}

.areaThumb {
  position: relative;
  flex: 1;
  border-radius: 3px;
  background: var(--border);

  /* увеличить целевой размер для сенсорных устройств https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 44px;
    height: 100%;
    min-height: 44px;
  }

  &:hover {
    background: var(--hover);
  }
}

.corner {
  background: transparent;
}
