.containerAddPhoto {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadIcon {
  width: 222px;
  height: 228px;
  background-color: var(--background-element);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.buttonSpan {
  width: 220px;
  height: 36px;
  margin-top: 60px;
}

.button {
  width: 220px;
  height: 36px;
  margin-top: 24px;
}

.hiddenInput {
  display: none; /* Полностью убирает элемент из потока */
}

.error {
  width: 445px;
  min-height: 60px;
  text-align: center;
  border-radius: 2px;
  padding: 6px 24px 6px 24px;
  color: var(--light-100);
  background-color: var(--danger-900);
  margin: 0 24px 24px 24px;
  border: 1px solid var(--danger-500);
}
