.containerAddPhoto {
  padding-top: 72px;
}

.uploadIcon {
  width: 222px;
  height: 228px;
  background-color: var(--dark-500);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.buttonSpan {
  width: 220px;
  height: 36px;
  margin-top: 60px;
}

.button {
  width: 220px;
  height: 36px;
  margin-top: 24px;
}

.hiddenInput {
  display: none; /* Полностью убирает элемент из потока */
}
