.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #ffffff;

  max-width: 500px;
  width: 100%;
}

// .appBox {
//   width: 100%;
//   max-width: 500px;
//   background-color: #000000;
//   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
//   display: flex;
//   flex-direction: column;
// }

.header {
  padding: 10px;
  border-bottom: 1px solid #1f2937;
}

.content {
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.titleBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 1rem;
  // padding-top: 1.5rem;
  height: 50px;
}

.backLink {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
