@use '@inctagram/ui/styles' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--background-element);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}
