@import '../../../styles/base/mixins';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background-color: var(--dark-900);
  border-right: 1px solid var(--dark-300);
  padding: 96px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .sidebarItem {
    @include text-size(m, m);
    @include text-weight(500);

    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--light-100);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: var(--primary);

      &:hover {
        background-color: var(--dark-400);
      }

      .iconWrapper svg {
        stroke: var(--primary);
        fill: var(--primary);
      }

      .label {
        color: var(--primary);
      }
    }

    .iconWrapper {
      svg {
        stroke: currentColor;
        fill: currentColor;
        transition: all 0.2s ease-in-out;
      }
    }

    .label {
      @include text-size(m, m);
      @include text-weight(500);
      white-space: nowrap;

      &.active {
        color: var(--primary);
      }
    }
  }

  .mainSection {
    padding-top: 0;
  }

  .additionalSection {
    padding-top: 60px;
  }

  .logoutSection {
    padding-top: 180px;
  }
}
