.postModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkBack {
  border-radius: 2px;
  color: var(--light-100);
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--font-weight-bold);
  height: 36px;
  justify-content: center;
  outline: 2px solid transparent;
  outline-offset: 0;
  padding: 6px 24px;
  min-width: 100px;
  width: auto;
}
