.alert {
  position: fixed;
  z-index: 1000; // Поверх других элементов
  display: flex;
  gap: 24px;
  width: 387px;
  min-height: 48px;
  border-radius: 2px;
  padding: 12px 24px;
  hyphens: auto;
  overflow-wrap: break-word;
  transition: all 0.6s ease;
  animation: slide-in 0.6s ease-out;
  opacity: 1;
  transform: translateY(0);

  &.closing {
    opacity: 0;
    transform: translateY(30px);
  }

  // Позиции
  &.bottom-left {
    bottom: 60px;
    left: 60px;
  }

  &.bottom-right {
    bottom: 60px;
    right: 60px;
  }

  &.top-left {
    top: 60px;
    left: 60px;
  }

  &.top-right {
    top: 60px;
    right: 60px;
  }

  p {
    width: 291px;
    color: var(--light-100);
    line-height: var(--line-height-24);
    font-size: var(--font-size-16);
  }

  &.success {
    background-color: var(--success-900);
    border: 1px solid var(--success-500);
  }

  &.error {
    background-color: var(--danger-900);
    border: 1px solid var(--danger-500);
  }
}

.button {
  all: unset;
  height: 24px;
  color: var(--light-100);

  &:hover {
    color: var(--light-700);
    cursor: pointer;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
