.cardContainer {
  display: flex;
  flex-direction: column;

  width: 378px;
  margin: 0 auto;
  padding: 23px 24px 32px 24px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newPassWarning {
  margin-bottom: 41px;
  margin-top: 7px;
  color: var(--color-light-900);
}
