.post {
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  margin-bottom: 16px;
  width: 234px;

  .postImage {
    position: relative;
    width: 100%;
    height: 240px;
    margin-bottom: 12px;
    overflow: hidden;
    transition: height 0.3s ease;

    &.collapsed {
      height: 120px;
    }

    .postImageImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  .postContent {
    .postHeader {
      display: flex;
      flex-direction: column;

      .userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .userAvatar {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin-right: 12px;
          object-fit: cover;
        }
      }

      .timeAgo {
        color: var(--light-900);
        font-weight: 400;
      }
    }

    .showMoreBtn {
      margin-left: 4px;
    }
  }
}
