.wrapper {
  display: flex;
  flex-direction: column;
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  padding: 6px 12px;
  color: var(--foreground);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.15s ease;
  user-select: none;

  &.active {
    border-color: var(--border);
    background: var(--background);
  }

  &:focus {
    outline: 2px solid var(--accent-500);
    outline-offset: 0;
    border-color: transparent;
  }

  &[data-placeholder] {
    color: var(--light-900);
  }

  &.disabled {
    color: var(--dark-100);
  }
}

.arrow {
  font-size: 12px;
  color: #888;
  transition: transform 0.2s ease;
}

.content {
  width: 100%;
  background-color: var(--background);
  border: 1px solid var(--dark-100);
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  animation: fadeIn 0.15s ease;
  min-width: var(--radix-select-trigger-width);

  &.active {
    border-color: var(--border);
    color: var(--light-100);
  }
}

.item {
  display: flex;
  align-items: center;
  color: var(--foreground);
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;

  &:hover,
  &[data-highlighted] {
    background: var(--dark-300);
    color: var(--accent-500);
  }
}

.item:focus,
.item:focus-visible,
.item[data-highlighted]:focus,
.item[data-highlighted]:focus-visible {
  outline: none;
  box-shadow: none;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.disabled {
  border: 1px solid var(--dark-100);
  cursor: not-allowed;
}

.block {
  display: flex;
  justify-content: center;
}
