.contentWrapper {
  display: flex;
  width: 100%;
}

.contentBlock {
  flex: 1;
  padding: 24px;
  display: flex;
  justify-content: center;
  min-width: 0;
}

.children {
  width: 100%;
  max-width: 100%;
}

.childrenWithoutSidebar {
  padding: 0 154px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  padding: 24px;
}
