@use "@/styles/base/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
}

.content {
  z-index: 100000000;
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-55%, -55%);

  width: 378px;
  min-height: 228px;

  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  animation: fadeIn 0.2s ease;

  background-color: var(--dark-300);
  color: var(--foreground);

  border-radius: 2px;
  border: 1px solid var(--dark-100);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 11px 0;

  &::after {
    content: "";
    position: absolute;
    left: -24px;
    right: -24px;
    bottom: 0;
    height: 1px;
    background-color: var(--dark-100);
  }
}

.title {
  @include text-weight(700);
  color: var(--foreground);
}

.closeBtn {
  width: 30px;
  height: 30px;
  color: var(--muted-foreground);

  &:hover {
    opacity: 0.7;
  }
}

.message {
  @include text-size(m, m);
  color: var(--foreground);
}

.actionBtn {
  background-color: var(--primary);
  width: 96px;
  height: 36px;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  @include text-size(m, m);
  @include text-weight(600);
  color: var(--primary-foreground);

  margin-left: auto;
  &:hover {
    background-color: var(--accent-700);
  }
}
