.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.card,
.button {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  width: 378px;
  min-height: 456px;
  padding: 24px;
}

.sendEmail {
  margin: 37px 0 17px 0;
  row-gap: 7px;
}
.textForSend {
  color: var(--hover);
  margin-top: 7px;
}

.textForSendEmail {
  color: var(--foreground);
  margin-top: 23px;
}

.button {
  width: 100%;
  gap: 30px;
  margin-bottom: 24px;
}

/* Стили для ошибок */
.error {
  border: 2px solid #ff4444;
}

.error-message {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}
