.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.card,
.sendEmail,
.button {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  width: 378px;
  min-height: 456px;
  padding: 24px;
}

.sendEmail {
  margin: 37px 0 17px 0;
  row-gap: 7px;
}
.textForSend {
  color: var(--hover);
}

.button {
  width: 100%;
  row-gap: 24px;
  margin-bottom: 24px;
}
