.card,
.button {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  max-width: 378px;
  width: 100%;
  min-height: 456px;
  padding: 24px;
}

.sendEmail {
  margin: 37px 0 17px;
  row-gap: 7px;
}

.textForSend {
  color: var(--hover);
  margin-top: 7px;
}

.textForSendEmail {
  color: var(--foreground);
  margin-top: 23px;
}

.button {
  width: 100%;
  gap: 30px;
  margin-bottom: 24px;
}

/* Стили для ошибок */
.error {
  border: 2px solid #f44;
}

.error-message {
  color: #f44;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}
