.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.card,
.button {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  width: 378px;
  min-height: 456px;
  padding: 24px;
}

.sendEmail {
  margin: 37px 0 17px 0;
  row-gap: 7px;
}
.textForSend {
  color: var(--hover);
  margin-top: 7px;
}

.textForSendEmail {
  color: var(--foreground);
  margin-top: 23px;
}

.button {
  width: 100%;
  row-gap: 24px;
  margin-bottom: 24px;
}

/* Стили для ошибок */
.error {
  border: 2px solid #ff4444;
}

.error-message {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

/*Стили для модального окна*/
//
//.modalOverlay {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background: rgba(0, 0, 0, 0.5);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  z-index: 1000;
//}
//
//.modalCard {
//  width: 378px;
//  min-height: 228px;
//}
//
//.modalContent {
//  //padding: 12px 24px 36px 24px;
//  //border: 1px solid red;
//}
//
//.modalTitle {
//  display: flex;
//  justify-content: space-between;
//  padding: 12px 24px;
//  border-bottom: 1px solid var(--border);
//}
//
//.buttonModal {
//  all: unset;
//  height: 24px;
//  color: var(--light-100);
//
//  &:hover {
//    color: var(--light-700);
//    cursor: pointer;
//  }
//}
