.commentItem {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.commentContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentText {
  margin: 0;
  font-size: 14px;
}

.likeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.likeButton svg {
  width: 20px !important;
  height: 20px !important;
  fill: currentColor;
  flex-shrink: 0;
}

.commentMeta {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 4px;
  align-items: center;
}

.repliesWrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 24px; // общий отступ для всех ответов
}

.username {
  font-weight: 600;
}

.time {
  font-size: 12px;
  color: #8e8e8e;
}

.likes {
  font-size: 12px;
  color: #8e8e8e;
}

.answerButton {
  background: none;
  border: none;
  color: #3897f0;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
}
