.contentPublication {
  display: flex;
  width: 100%;
  height: 100%;
}

.previewSection {
  display: flex;
  justify-content: center;
  width: 490px;
  height: 504px;
  border-right: 1px solid var(--border);
}

.previewContainer {
  display: flex;
  width: 100%;
}

.publicationInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
}

.postHeader {
  border-bottom: 1px solid #555;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  //border: 1px solid green;
}

.authorAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.countSymbol {
  font-size: 14px;
  color: var(--light-900);
  display: flex;
  justify-content: flex-end;
}
