.wrapper {
  color: var(--light-100);
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  color: var(--light-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.inputWrapper {
  width: 320px;
  position: relative;

  &.error .input {
    border-color: var(--danger-500);
    color: var(--danger-500);
  }

  &.disabled .input {
    border-color: var(--dark-300);
    color: var(--light-900);
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;

    .input {
      width: 100%;
    }
  }
}

.input {
  background: var(--background);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  color: var(--foreground);
  padding: 8px 36px 8px 12px;
  width: 100%;

  &:focus {
    border-color: var(--accent-700);
    outline: 1px solid var(--accent-700);
    outline-offset: 0;
  }
}

.icon {
  font-size: 18px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--foreground);
}

.calendarWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background: var(--background);
  color: var(--foreground);
  border-radius: 2px;
  padding: 12px;
  width: 320px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 40%);
}

.selected,
.rangeStart,
.rangeEnd,
.rangeMiddle {
  background-color: var(--accent-900);
  color: var(--light-100);
}

.selected {
  border-radius: 50%;
}

.rangeStart {
  border-radius: 50% 0 0 50%;
}

.rangeMiddle {
  border-radius: 0;
}

.rangeEnd {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.weekend {
  color: var(--danger-300);
  font-weight: 600;
}

.otherMonth {
  color: var(--light-900);
}

.today {
  border: none;
  color: var(--accent-900);
}

.today.selected {
  color: var(--light-100);
}

.disabled {
  color: var(--dark-300);
}

.errorText {
  color: var(--danger-500);
  font-size: 12px;
}

.next,
.previous {
  align-items: center;
  background-color: var(--dark-100);
  border-radius: 50%;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;

  svg {
    fill: var(--light-100);
    height: 16px;
    width: 16px;
  }
}

.month_navigation {
  color: red;
}

.weekday {
  color: var(--light-900);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.week {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
