.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--light-100);
}

.label {
  color: var(--light-900);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.inputWrapper {
  position: relative;
  max-width: 255px;
}

.inputWrapper.error .input {
  border-color: var(--danger-500);
  color: var(--danger-500);
}

.input {
  width: 100%;
  padding: 8px 36px 8px 12px;
  background: var(--dark-500);
  border-radius: 2px;
  border: 1px solid var(--dark-300);
  color: var(--light-100);

  &:focus {
    outline: 1px solid var(--accent-700);
    outline-offset: 0;
    border-color: var(--accent-700);
  }
}

.icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
}

.calendarWrapper {
  margin-top: 8px;
  background: var(--dark-500);
  border-radius: 2px;
  padding: 12px;
  width: 300px;
}

.selected {
  background-color: var(--accent-900);
  color: var(--light-100);
  border-radius: 50%;
}

.rangeStart {
  background-color: var(--accent-900);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rangeEnd {
  background-color: var(--accent-900);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rangeMiddle {
  background-color: var(--accent-900);
  border-radius: 0;
}

.weekend {
  color: var(--danger-300);
  font-weight: 600;
}

.otherMonth {
  color: var(--light-900);
}

.today {
  border: none;
  color: var(--accent-900);
}

.inputWrapper.disabled .input {
  border-color: var(--dark-300);
  color: var(--light-900);
  cursor: not-allowed;
}

.disabled {
  color: var(--dark-300);
}

.errorText {
  color: var(--danger-500);
  font-size: 12px;
}

.next,
.previous {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-100);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.next svg,
.previous svg {
  fill: var(--light-100);
  width: 16px;
  height: 16px;
}
