.tabs {
  background-color: var(--background);
  display: flex;
  flex-direction: column;

  .tabsHeader {
    display: flex;
  }

  .tabButton {
    border-bottom: 2px solid var(--dark-100);
    color: var(--dark-100);
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-24);
    padding: 6px 24px;
    position: relative;
    transition: color 0.4s ease;
    width: 100%;

    &:hover {
      background-color: color-mix(in srgb, var(--accent-900) 15%, transparent);
      color: var(--primary);
    }

    &:focus {
      background-color: var(--background);
      color: var(--primary);
      outline: 2px solid var(--primary);
    }

    &.active {
      color: var(--primary);

      &:hover {
        background-color: color-mix(in srgb, var(--accent-900) 15%, transparent);
        color: var(--primary);
      }

      &::after {
        background-color: var(--primary);
        bottom: -1px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &.disabled {
      background-color: transparent;
      color: var(--muted-foreground);
      cursor: not-allowed;
      opacity: 0.6;

      &::after {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        outline: none;
      }
    }
  }

  .tabContent {
    color: var(--foreground);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-24);
    padding: 30px 0;
  }
}
