@import "@/styles/base/mixins";

.content {
  background: var(--light-100);
  border: 1px solid var(--light-900);
  border-radius: 4px;
  box-shadow: none;
  color: var(--dark-900);
  max-width: 280px;
  padding: 8px;

  @include text-size(m, m);
  @include text-weight(500);
}

.tooltipContent {
  color: inherit; // Наследует цвет от .content
  margin: 4px;
}
