.overlayModal {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 75%);
}

.containerModal {
  z-index: 100000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 492px;
  min-height: 564px;
  background-color: var(--dark-300);
  border-radius: 2px;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.title {
  color: var(--foreground);
}

.closeBtn {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--muted-foreground);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.buttonBack {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.contentModal {
  //border: 2px dashed white;
  display: flex;
  justify-content: center;
}
