.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.containerModalSquare {
  z-index: 100000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 492px;
  min-height: 564px;
  background-color: var(--muted);
  border-radius: 2px;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.title {
  color: var(--foreground);
}

.closeBtn {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--muted-foreground);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.buttonBack {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.contentModal {
  display: flex;
  justify-content: center;
}

.containerModalRectangular {
  z-index: 100000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 972px;
  height: 564px;
  background-color: var(--muted);
  border-radius: 2px;
}
