.headerModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.title {
  color: var(--foreground);
}

.closeBtn {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--muted-foreground);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.buttonBack {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
