.root {
  all: unset;
  width: 36px;
  height: 18px;
  background-color: var(--muted);
  border-radius: 9999px;
  position: relative;

  //box-shadow: 0 2px 10px var(--border);
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  cursor: pointer;
}

.thumb {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--muted-foreground);
  border-radius: 9999px;

  //box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;

  &[data-state="checked"] {
    transform: translateX(19px);
  }
}
