.dropdownItem {
  padding: 12px;
  width: 137px;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
  color: var(--light-100);
  outline: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--dark-500);
}

.dropdownItem:hover,
.dropdownItem:focus {
  background-color: var(--dark-100);
}
