.textAreaContainer {
  //background-color: var(--dark-700);
  display: flex;
  flex-direction: column;

  label {
    color: var(--light-900);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-24);
  }

  textarea {
    background-color: var(--background-element);
    border: 1px solid var(--dark-100);
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--foreground);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-24);
    min-height: 84px;
    outline: none;
    overflow: hidden;
    padding: 12px;
    resize: none;
    width: 100%;

    &::placeholder {
      color: var(--light-900);
    }

    &:active {
      border-color: var(--light-100);
    }

    &:focus {
      border-color: var(--accent-700);
    }
  }

  &.disabled {
    label {
      color: var(--dark-100);
    }

    textarea {
      color: var(--dark-100);
      cursor: not-allowed;

      &::placeholder {
        color: var(--dark-100);
      }
    }
  }

  .error {
    border-color: var(--danger-500);
  }

  .errorText {
    color: var(--danger-500);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-24);
  }
}
