.registeredUsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-surface);
  padding: 24px;
  border-radius: 6px;
  border: 1px solid var(--dark-300);
  height: 72px;
  width: 100%;
}

.digits {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 0;
  background: var(--background);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  padding: 12px;
  position: relative;
}

.digit {
  width: 24px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  font-size: 16px;
  font-weight: 600;
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    background: var(--dark-300);
    right: -1px;
    z-index: 1;
  }
}
