.wrapper {
  align-items: center;
  column-gap: 11px;
  cursor: pointer;
  display: flex;
  position: relative;

  // Общая окружность для всех состояний
  &::before {
    background-color: transparent;
    border-radius: 50%;
    content: "";
    height: 36px;
    left: 9px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    width: 36px;
    z-index: -1;
  }

  // Hover
  &:has(.Root:hover)::before {
    background-color: var(--dark-300);
    opacity: 0.5;
  }

  // Когда checkbox в focus состоянии
  &:has(.Root:focus)::before {
    background-color: var(--dark-500);
    opacity: 0.5;
  }

  // Когда checkbox активен (нажат)
  &:has(.Root:active)::before {
    background-color: var(--dark-100);
    opacity: 0.5;
  }
}

.Root {
  align-items: center;
  border: 2px solid var(--light-100);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: 18px;
  justify-content: center;
  line-height: var(--line-height-100);
  width: 18px;

  &[data-state="checked"] {
    background-color: var(--light-500);
    border-color: transparent; // Прозрачная рамка при checked
  }

  &[data-state="unchecked"]:disabled {
    background-color: transparent; // Переопределяет прозрачным
    border-color: var(--light-900); // Видимая рамка
  }

  &:active,
  &:hover,
  &:focus {
    border-color: var(--light-500);
  }

  &:disabled {
    background-color: var(--dark-100);
    border-color: var(--light-900);
    cursor: not-allowed;
  }
}

.Indicator {
  color: var(--dark-900);
  line-height: var(--line-height-100);

  .Root:disabled & {
    color: var(--light-700);
    cursor: not-allowed;
  }
}

.Label {
  color: var(--light-100);
  font-size: var(--font-size-14);
  line-height: var(--line-height-100);
}

.LabelDisabled {
  color: var(--light-900);
}
